@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');


body {
    background-image: url("https://i.pinimg.com/originals/7d/98/84/7d98840fdff1b2e7cd508cc7f3a17403.jpg");
    background-repeat: no-repeat;
    
}

.container_cronometro {
    background-image: url("https://st2.depositphotos.com/1031174/5356/i/450/depositphotos_53562887-stock-photo-dark-texture.jpg");
    width: 40%;
    padding: 10px;
    margin: 10% auto;
   box-shadow: 10px 10px 25px 5px;
   border-radius: 10px;
   border: 1px solid white;
}

.container_cronometro2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px; 
}

.botao_controle {
    padding: 10px;
    margin: 10px;
    width: 50%;
    background-color: rgb(247, 247, 247);
    font-size: x-large;
    border-radius: 10px;
    border: 5px solid rgba(64, 44, 18, 0.761);
} 

.botao_controle:hover {
    background-color: rgb(190, 170, 111);
   border: 5px solid black;
   cursor: pointer;
}
h1 {
    font-size: x-large;
    text-transform: uppercase;
    color: white;
    font-family: "Rubik Scribble", system-ui;
}

h2 {
    font-size: 60px;
    color: white;
}
